<mat-toolbar color="primary">
  <span><a routerLink="/">My Posts</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent"
        >New Post</a
      >
    </li>

    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>

    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent"
        >Signup</a
      >
    </li>

    <li *ngIf="userIsAuthenticated">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>home</mat-icon>
        Hassan Abbas
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>Acoount</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </li>
  </ul>
</mat-toolbar>
