mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.reset-password a {
  text-decoration: none;
}

.container {
  width: 300px;
  margin-top: 50px;
}

@media (min-width: 600px) {
  .container {
    width: 500px;
  }
}
