<div class="container">
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form
      (submit)="onUpdate(newPasswordForm)"
      #newPasswordForm="ngForm"
      *ngIf="!isLoading"
    >
      <mat-form-field>
        <input
          matInput
          name="password"
          ngModel
          #passwordInput="ngModel"
          type="password"
          placeholder="Password"
          required
        />
        <mat-error *ngIf="passwordInput.invalid"
          >Please enter a valid password</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          name="confirmPassword"
          ngModel
          #confirmPasswordInput="ngModel"
          type="password"
          placeholder="Confirm Password"
          required
        />
        <mat-error *ngIf="passwordInput.invalid"
          >Please enter a valid password</mat-error
        >
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        *ngIf="!isLoading"
        [disabled]="newPasswordForm.invalid"
      >
        Update Password
      </button>
    </form>
  </mat-card>
</div>
