.post-card {
  max-width: 100%;
}

.post-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.mat-card-header {
  padding-bottom: 7px;
}

mat-spinner {
  margin: auto;
}
