mat-spinner {
  margin: auto;
}

.post-card {
  max-width: 100%;
}

/* .post-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
} */

.mat-card-header {
  padding-bottom: 7px;
}

.post-image {
  width: 100%;
  margin: auto;
}

.post-content {
  margin: 10px;
}

.post-price {
  margin: 10px;
}

.container {
  width: 300px;
  margin-top: 20px;
}

.fav-button {
  color: silver;
}

.fav-button-clicked {
  color: #3f51b5;
}

@media (min-width: 600px) {
  .container {
    width: 750px;
  }
  .fav-button {
    margin-left: 88%;
    position: absolute;
  }
  .fav-button-clicked {
    margin-left: 88%;
    position: absolute;
    color: #3f51b5;
  }
}
