<div class="container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card class="post-card" *ngIf="!isLoading && singlePost">
    <mat-card-header>
      <!-- <div mat-card-avatar class="post-header-image"></div> -->
      <mat-card-title>{{ singlePost.title }}</mat-card-title>
      <mat-card-subtitle
        >Posted by: {{ singlePost.creatorName }} at {{ singlePost.date }}
      </mat-card-subtitle>
    </mat-card-header>
    <div>
      <img
        class="post-image"
        mat-card-image
        [src]="singlePost.imagePath"
        [alt]="singlePost.title"
      />
    </div>
    <mat-card-content>
      <p>
        {{ singlePost.content }}
      </p>
    </mat-card-content>
    <mat-card-actions
      *ngIf="userIsAuthenticated && userId == singlePost.creatorId"
    >
      <a mat-button color="primary" [routerLink]="['/edit', singlePost.id]"
        >Edit</a
      >
      <button mat-button color="warn" (click)="onDelete(singlePost.id)">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
