mat-spinner {
  margin: auto;
}

a {
  text-decoration: none;
}

.post-btn {
  margin-left: 1.5%;
  margin-bottom: 1.5%;
}

.post-card {
  max-width: 100%;
}

/* .post-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
} */

.mat-card-header {
  padding-bottom: 7px;
}

.post-image {
  width: 100%;
  margin: auto;
}

.post-content {
  margin: 10px;
}

.post-price {
  margin: 10px;
}

.container {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .container {
    width: 750px;
  }
  .btn {
    margin-left: 85%;
    position: absolute;
  }
}
