<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        name="name"
        ngModel
        #nameInput="ngModel"
        type="text"
        placeholder="Full name"
        required
      />
      <mat-error *ngIf="nameInput.invalid">Please enter your name</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="email"
        ngModel
        #emailInput="ngModel"
        type="email"
        placeholder="E-Mail"
        required
        email
      />
      <mat-error *ngIf="emailInput.invalid"
        >Please enter a valid email</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="password"
        ngModel
        #passwordInput="ngModel"
        type="password"
        placeholder="Password"
        required
      />
      <mat-error *ngIf="passwordInput.invalid"
        >Please enter a valid password</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="confPassword"
        ngModel
        #passwordConfirmInput="ngModel"
        type="password"
        placeholder="Confirm password"
        required
      />
      <mat-error *ngIf="passwordConfirmInput.invalid"
        >Your passwords don't match</mat-error
      >
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">
      Sign Up
    </button>
  </form>
</mat-card>
