<div class="container">
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form
      (submit)="onReset(resetPasswordForm)"
      #resetPasswordForm="ngForm"
      *ngIf="!isLoading"
    >
      <mat-form-field>
        <input
          matInput
          name="email"
          ngModel
          #emailInput="ngModel"
          type="email"
          placeholder="E-Mail"
          required
          email
        />
        <mat-error *ngIf="emailInput.invalid"
          >Please enter a valid email</mat-error
        >
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        *ngIf="!isLoading"
        [disabled]="resetPasswordForm.invalid"
      >
        Reset password
      </button>
    </form>
  </mat-card>
</div>
